<div class="d-flex flex-column flex-fill">
  <div class="container-fluid mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Cadastro de bens
        </li>
      </ol>
    </nav>

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Cadastro de bens</h5>
      </div>

      <div class="card-body">
        <!-- Abas Config -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="geral-tab"
              data-bs-toggle="tab"
              data-bs-target="#geral"
              type="button"
              role="tab"
              aria-controls="geral"
              aria-selected="true"
            >
              Geral
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="bens-tab"
              data-bs-toggle="tab"
              data-bs-target="#bens"
              type="button"
              role="tab"
              aria-controls="bens"
              aria-selected="true"
            >
              Bens
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="observacoes-tab"
              data-bs-toggle="tab"
              data-bs-target="#observacoes"
              type="button"
              role="tab"
              aria-controls="observacoes"
              aria-selected="true"
            >
              Observações
            </button>
          </li>
        </ul>
        <!-- Abas Config -->

        <div class="tab-content mt-2" id="myTabContent">
          <!-- Aba Geral -->
          <div
            class="tab-pane fade show active"
            id="geral"
            role="tabpanel"
            aria-labelledby="geral-tab"
          >
            <geral-tab></geral-tab>
          </div>
          <!-- Aba Geral -->

          <!-- Aba bens -->
          <div
            class="tab-pane fade"
            id="bens"
            role="tabpanel"
            aria-labelledby="bens-tab"
          >
            <bens-tab></bens-tab>
          </div>
          <!-- Aba bens -->

          <!-- Aba observacoes -->
          <div
            class="tab-pane fade"
            id="observacoes"
            role="tabpanel"
            aria-labelledby="observacoes-tab"
          >
            <obs-tab></obs-tab>
          </div>
          <!-- Aba obeservacoes -->
        </div>

        <div class="card-footer mt-5">
          <div class="d-flex justify-content-end">
            <div
              class="btn-group gap-2"
              role="group"
              aria-label="Basic example"
            >
              <button type="button" class="btn btn-secondary">Voltar</button>
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
