<form>
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <h5 class="card-title">Bens cadastrados</h5>
        </div>
        <cadastro-bem></cadastro-bem>
      </div>
    </div>

    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tombamento</th>
            <th scope="col">Produto</th>
            <th scope="col">Valor</th>
            <th scope="col">Itens</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Teste</td>
            <td>Produto 1</td>
            <td>10,00</td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <td>10,00</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</form>