<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary btn-sm"
  data-bs-toggle="modal"
  data-bs-target="#VisualizarBemModal"
>
  <i class="bi bi-search"></i>
</button>

<!-- Modal Visualizar Bem-->
<div
  class="modal fade"
  id="VisualizarBemModal"
  tabindex="-1"
  aria-labelledby="VisualizarBemModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VisualizarBemModalLabel">Visualizar bem</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <dl>
          <dt>Estado</dt>
          <dd>estado</dd>

          <dt>Situação de uso</dt>
          <dd>Projeto 1</dd>

          <dt>Marca</dt>
          <dd>Marca 1</dd>
          <!-- other terms and definitions -->
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Visualizar Bem-->
