/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.scss";

#logo {
    width: 50px;
}

#sidebar {
    width: 230px;
    padding: 10px;
    background-color: #142749;
    height: 100vh;
}

#observacoes {
    width: 78vmax;
    height: 100%;
    padding-bottom: 10px;
}

.sidebar-heading {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-weight: 700;
    color:white;
    font-size: .8rem;
}

.card-title {
    margin: 0;
}

.nav-link-text {
    color:#222;
    font-weight: 600;
}

.breadcrumb {
    padding: 0.5rem 1rem;
    background-color: var(--bs-light);
}

.nav-link:hover {
    color: #777;
}